{% from "partials/macros.njk" import field_text, tab %}
{% call tab("tab4") %}
{{ field_text("oidcIssuerUrl", "Issuer URL", "https://dcs.example.com/dcs/hydra") }}
{{ field_text("clientId", "Client ID", "dcs-client") }}
{% endcall %}
